{
	"name": "durak",
	"minPlayers": 2,
	"maxPlayers": 6,
	"commands": {
		"cards" : "shows your current cards", 
		"throw" : "throw <index> - put the <index> card from your hand on the table", 
		"beat" : "beat <tableIndex> <handIndex> - tries to beat the <tableIndex> card from the table with <handIndex> card from the hand", 
		"table" : "shows the cards on the table", 
		"take" : "take all the cards from the table", 
		"done" : "finish the round", 
		"trump" : "shows the current trump", 
		"commands" : "list of the commands"
	}
}